<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul>
        
            
        <li><button type="button">patient1</button></li>
        <li><button type="button">patient2</button></li>
        <li><button type="button">patient3</button></li>
        <li><button type="button">patient4</button></li>
        <li><button type="button">patient5</button></li>
        <li><button type="button">patient6</button></li>
        <li><button type="button">patient7</button></li>
        <li><button type="button">patient8</button></li>
        <li><button type="button">patient9</button></li>
        <li><button type="button">patient10</button></li>
        <li><button type="button">patient11</button></li>
        <li><button type="button">patient12</button></li>
        <li><button type="button">patient13</button></li>
        <li><button type="button">patient14</button></li>
        <li><button type="button">patient15</button></li>
        
    </ul>
</body>
</html>
